---
http_interactions:
- request:
    method: get
    uri: https://moz.com/researchtools/ose/api/urlmetrics?site=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a3-9dde57ca"
      X-Response-Time:
      - 5.589ms
      X-Iinfo:
      - 6-71509493-71509550 NNNN CT(45 56 0) RT(1442271885237 489) q(0 0 1 0) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"meta":{"site":"http://please-dont-register-a-site-that-breaks-this-test.com","requested_site":"http://please-dont-register-a-site-that-breaks-this-test.com"},"data":{"spam_flags":[null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null],"spam_score":null,"authority":{"page_authority":1,"domain_authority":1},"page":{"just_discovered_links":0,"linking_root_domains":0,"inbound_links":0}}}'
  recorded_at: Mon, 14 Sep 2015 23:04:46 GMT
recorded_with: VCR 2.9.3
