--- 
http_interactions: 
- request: 
    method: get
    uri: http://data.alexa.com/data?cli=10&dat=snbamz&url=slocourts.net
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        \r\n\
        <ALEXA VER=\"0.9\" URL=\"slocourts.ca.gov/\" HOME=\"0\" AID=\"=\">\r\n\
        <RLS PREFIX=\"http://\" more=\"23\">\n\
        <RL HREF=\"www.co.riverside.ca.us/depts/courts\" TITLE=\"Superior Court Of California County Of Riverside\"/>\n\
        <RL HREF=\"courts.countyofventura.org/\" TITLE=\"Superior Court, Ventura\"/>\n\
        <RL HREF=\"www.co.san-bernardino.ca.us/Courts\" TITLE=\"Superior Court, San Bernardino\"/>\n\
        <RL HREF=\"www.ci.sf.ca.us/courts\" TITLE=\"Superior Court, San Francisco\"/>\n\
        <RL HREF=\"www.sbcourts.org/\" TITLE=\"Superior Court, Santa Barbara\"/>\n\
        <RL HREF=\"www.slosheriff.org/\" TITLE=\"San Luis Obispo County Sheriff&apos;s Department\"/>\n\
        <RL HREF=\"www.slodss.org/\" TITLE=\"San Luis Obispo County Department of Social Services\"/>\n\
        <RL HREF=\"www.slocountypwd.org/\" TITLE=\"San Luis Obispo County Department of Public Works and Transportation\"/>\n\
        <RL HREF=\"www.slocountyfranchiseadministration.org/\" TITLE=\"San Luis Obispo County Franchise Administration\"/>\n\
        <RL HREF=\"www.slocog.org/\" TITLE=\"SLOCOG\"/>\n\
        <RL HREF=\"www.buttonware.com/\" TITLE=\"www.buttonware.com/\"/>\n\
        </RLS>\n\
        <SD TITLE=\"A\" FLAGS=\"DMOZ\" HOST=\"slocourts.ca.gov\">\n\
        <TITLE TEXT=\"Superior Court, San Luis Obispo\"/>\n\
        <ADDR STREET=\"3101 Gold Camp Dr\" CITY=\"Rancho Cordova\" STATE=\"CA\" ZIP=\"95670\" COUNTRY=\"US\" />\n\
        <CREATED DATE=\"16-Jun-2000\" DAY=\"16\" MONTH=\"06\" YEAR=\"2000\"/>\n\
        <PHONE NUMBER=\"+1 916 464 4239\"/>\n\
        <OWNER NAME=\"State of California\"/>\n\
        <EMAIL ADDR=\"lbatcheldor@co.slo.ca.us\"/>\n\
        <LANG LEX=\"en\" CODE=\"us-ascii\"/>\n\
        <LINKSIN NUM=\"12\"/>\n\
        <SPEED TEXT=\"716\" PCT=\"83\"/>\n\
        <REVIEWS AVG=\"4.5\" NUM=\"\"/>\n\
        <CHILD SRATING=\"0\"/>\n\
        </SD>\n\n\
        <KEYWORDS>\n\
        <KEYWORD VAL=\"San Luis Obispo\"/>\n\
        </KEYWORDS><DMOZ>\n\
        <SITE BASE=\"slocourts.ca.gov/\" TITLE=\"SLO County Superior Court\" DESC=\"Administrative site of the Superior Court, with information, public notices, and bail and fee schedules.\">\n\
        <CATS>\n\
        <CAT ID=\"Top/Regional/North_America/United_States/California/Government/Courts\" TITLE=\"Government/Courts\" CID=\"620717\"/>\n\
        <CAT ID=\"Top/Regional/North_America/United_States/California/Counties/San_Luis_Obispo/Government\" TITLE=\"San Luis Obispo/Government\" CID=\"620510\"/>\n\
        <CAT ID=\"Top/Regional/North_America/United_States/California\" TITLE=\"United States/California\" CID=\"619087\"/>\n\
        <CAT ID=\"Top/Regional/North_America/United_States/California/Government\" TITLE=\"California/Government\" CID=\"620608\"/>\n\
        <CAT ID=\"Top/World/Espa\xC3\xB1ol/Regional/Am\xC3\xA9rica/Estados_Unidos/Estados/California\" TITLE=\"Estados/California\" CID=\"26249\"/>\n\
        </CATS>\n\
        </SITE>\n\
        </DMOZ>\n\
        <SD>\n\
        <POPULARITY URL=\"ca.gov/\" TEXT=\"775\" SOURCE=\"panel\"/>\n\
        <REACH RANK=\"896\"/>\n\
        <RANK DELTA=\"-10\"/>\n\
        <COUNTRY CODE=\"US\" NAME=\"United States\" RANK=\"197\"/>\n\
        </SD>\n\
        </ALEXA>"
  recorded_at: Mon, 17 Dec 2012 17:03:43 GMT
[...]
