---
http_interactions:
- request:
    method: get
    uri: http://vk.com/share.php?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com&act=count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=windows-1251
    body:
      encoding: UTF-8
      string: VK.Share.count(0, 0);
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com&callback=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '636153528830'
    body:
      encoding: UTF-8
      string: _({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Mon, 15 Dec 2014 20:52:36 GMT
      x-connection-hash:
      - 6879864c4711b1251048ae04745a40ca
      x-response-time:
      - '6'
    body:
      encoding: UTF-8
      string: '{"count":0,"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/"}'
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      facebook-api-version:
      - v1.0
      etag:
      - '"084a2bbc7382540addc052eab83eb70ab32dd140"'
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://please-dont-register-a-site-that-breaks-this-test.com"
        }
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=please-dont-register-a-site-that-breaks-this-test.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - ur9AUv4msBPAW7IkeisAAA==
    body:
      encoding: UTF-8
      string: '{"count":0,"fCnt":"0","fCntPlusOne":"1","url":"please-dont-register-a-site-that-breaks-this-test.com"}'
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("0");
  recorded_at: Mon, 15 Dec 2014 20:52:36 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"result":{"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/","in_index":false},"timestamp":1418676757,"success":true}'
  recorded_at: Mon, 15 Dec 2014 20:52:37 GMT
recorded_with: VCR 2.9.3
