---
http_interactions:
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=please-dont-register-a-site-that-breaks-this-test.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - AlD9NfRurxOgEyr9GysAAA==
    body:
      encoding: UTF-8
      string: '{"count":0,"fCnt":"0","fCntPlusOne":"1","url":"please-dont-register-a-site-that-breaks-this-test.com"}'
  recorded_at: Sat, 13 Dec 2014 12:40:02 GMT
recorded_with: VCR 2.9.3
