---
http_interactions:
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"result":{"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/","in_index":false},"timestamp":1418589037,"success":true}'
  recorded_at: Sun, 14 Dec 2014 20:30:37 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=please-dont-register-a-site-that-breaks-this-test.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - +VTSvjbXrxNAjNwANSsAAA==
    body:
      encoding: UTF-8
      string: '{"count":0,"fCnt":"0","fCntPlusOne":"1","url":"please-dont-register-a-site-that-breaks-this-test.com"}'
  recorded_at: Sun, 14 Dec 2014 20:30:37 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '322346816351'
    body:
      encoding: UTF-8
      string: receiveCount({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Sun, 14 Dec 2014 22:06:08 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com&callback=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '829505444727'
    body:
      encoding: UTF-8
      string: json({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Sun, 14 Dec 2014 22:08:57 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com&callback=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '444313885856'
    body:
      encoding: UTF-8
      string: _({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Sun, 14 Dec 2014 22:12:04 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 14 Dec 2014 22:33:49 GMT
      x-connection-hash:
      - ea0f5dcf71ab0ef5536264127bdf22d1
      x-response-time:
      - '5'
    body:
      encoding: UTF-8
      string: '{"count":0,"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/"}'
  recorded_at: Sun, 14 Dec 2014 22:33:49 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      www-authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: please-dont-register-a-site-that-breaks-this-test.com"'
      facebook-api-version:
      - v1.0
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error": {
              "message": "(#803) Some of the aliases you requested do not exist: please-dont-register-a-site-that-breaks-this-test.com",
              "type": "OAuthException",
              "code": 803
           }
        }
  recorded_at: Mon, 15 Dec 2014 07:38:08 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=http%3A%2F%2Fplease-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      facebook-api-version:
      - v1.0
      etag:
      - '"084a2bbc7382540addc052eab83eb70ab32dd140"'
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://please-dont-register-a-site-that-breaks-this-test.com"
        }
  recorded_at: Mon, 15 Dec 2014 07:39:10 GMT
recorded_with: VCR 2.9.3
