---
http_interactions:
- request:
    method: get
    uri: http://graph.facebook.com/?id=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - '"084a2bbc7382540addc052eab83eb70ab32dd140"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://please-dont-register-a-site-that-breaks-this-test.com"
        }
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?callback=_&url=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      X-Pinterest-Rid:
      - '187793171777'
    body:
      encoding: UTF-8
      string: _({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 14 Sep 2015 23:31:34 GMT
      X-Connection-Hash:
      - 45ea144fb7182674ecd14c24e3c4fc9e
      X-Response-Time:
      - '15'
    body:
      encoding: UTF-8
      string: '{"count":0,"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/"}'
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"result":{"url":"http:\/\/please-dont-register-a-site-that-breaks-this-test.com\/","in_index":false},"timestamp":1442273809,"success":true}'
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
- request:
    method: get
    uri: http://vk.com/share.php?act=count&url=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=windows-1251
    body:
      encoding: UTF-8
      string: VK.Share.count(0, 0);
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("0");
  recorded_at: Mon, 14 Sep 2015 23:36:50 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?callback=_&format=json&url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-lva1
      X-Li-Uuid:
      - WnZPhWP8AxRgvUhqzyoAAA==
    body:
      encoding: UTF-8
      string: '{"count":0,"fCnt":"0","fCntPlusOne":"1","url":"please-dont-register-a-site-that-breaks-this-test.com"}'
  recorded_at: Mon, 14 Sep 2015 23:36:50 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?callback=_&url=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      X-Pinterest-Rid:
      - '609055926048'
    body:
      encoding: UTF-8
      string: _({"url":"http://please-dont-register-a-site-that-breaks-this-test.com","count":0})
  recorded_at: Mon, 14 Sep 2015 23:36:50 GMT
recorded_with: VCR 2.9.3
