---
http_interactions:
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&regex=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '719785536047'
    body:
      encoding: UTF-8
      string: receiveCount({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 21:35:19 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=www.google.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - oWvbq77arxNAvwkANSsAAA==
    body:
      encoding: UTF-8
      string: '{"count":1004,"fCnt":"1,004","fCntPlusOne":"1,005","url":"www.google.com"}'
  recorded_at: Sun, 14 Dec 2014 21:35:20 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"result":{"url":"http:\/\/www.google.com\/","in_index":true,"publicid":"2pI1xR","views":255078,"title":"Google","thumbnail":"http:\/\/cdn.stumble-upon.com\/mthumb\/31\/10031.jpg","thumbnail_b":"http:\/\/cdn.stumble-upon.com\/bthumb\/31\/10031.jpg","submit_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","badge_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","info_link":"http:\/\/www.stumbleupon.com\/url\/www.google.com\/"},"timestamp":1418592920,"success":true}'
  recorded_at: Sun, 14 Dec 2014 21:35:20 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '513151227267'
    body:
      encoding: UTF-8
      string: receiveCount({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 21:35:35 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&callback=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '295300042660'
    body:
      encoding: UTF-8
      string: json({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 22:08:57 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&callback=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '159754960482'
    body:
      encoding: UTF-8
      string: _({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 22:12:04 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 14 Dec 2014 22:33:48 GMT
      x-connection-hash:
      - 93d07126dedfeb56aeadead08d3e2146
      x-response-time:
      - '4'
    body:
      encoding: UTF-8
      string: '{"count":21933764,"url":"http:\/\/www.google.com\/"}'
  recorded_at: Sun, 14 Dec 2014 22:33:48 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      facebook-api-version:
      - v1.0
      etag:
      - '"c5abac86a2d9b9b4831a554a6560eed69975656e"'
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "555777511121126",
           "about": "\u0628\u064a\u062f\u062c \u0644\u0644\u0641\u0631\u0641\u0634\u0629 \u0645\u0644\u0646\u0627\u0634 \u0639\u0644\u0627\u0642\u0629 \u0628\u0627\u0644\u0633\u064a\u0627\u0633\u0629 ",
           "can_post": false,
           "category": "Community",
           "checkins": 0,
           "cover": {
              "cover_id": 827181123980762,
              "offset_x": 0,
              "offset_y": 100,
              "source": "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/941251_827181123980762_4585330140254408769_n.jpg?oh=259182ec68116579fbb0e33bb43807f9&oe=5512BF4E&__gda__=1426087603_482a0ac01f1f32e0f819f7fcff8af039",
              "id": "827181123980762"
           },
           "description": "\u0627\u0646\u0627 \u062d\u0644\u0645\u0649 \u0645\u062c\u0646\u0648\u0646 \u0628\u0633 \u0627\u0644\u0635\u0631\u0627\u062d\u0629 \u0647\u0648 \u0645\u0636\u0645\u0648\u0646 \u0627\u0648\u0642\u0627\u062a \u0628\u064a\u0639\u0627\u0646\u062f \u0641\u064a\u0627...\u0648\u0643\u062a\u064a\u0631 \u0628\u062d\u0633 \u0627\u0646\u0647 \u0645\u0634 \u0644\u064a\u0627 \u0628\u0633 \u0628\u064a\u0631\u062c\u0639 \u0648\u064a\u0642\u0648\u0644\u0649 \u0627\u0646\u062a\u0649 \u0642\u062f \u0627\u0644\u0645\u0633\u0626\u0648\u0644\u064a\u0629",
           "has_added_app": false,
           "is_community_page": false,
           "is_published": true,
           "likes": 1804,
           "link": "https://www.facebook.com/wwwgooglecom",
           "location": {
              "city": "\u0627\u0644\u0642\u0627\u0647\u0631\u0629",
              "street": "\u0627\u0644\u0645\u0639\u0627\u062f\u0649"
           },
           "name": "\u0641\u062a\u064a\u0627\u062a \u0627\u0644\u0645\u0633\u062a\u0642\u0628\u0644",
           "parking": {
              "lot": 0,
              "street": 0,
              "valet": 0
           },
           "talking_about_count": 6,
           "username": "wwwgooglecom",
           "were_here_count": 0
        }
  recorded_at: Mon, 15 Dec 2014 07:38:07 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      facebook-api-version:
      - v1.0
      etag:
      - '"8d8cc20239cd168ed7eef1959701c05ac0b5fd9e"'
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://www.google.com",
           "shares": 10009903,
           "comments": 934
        }
  recorded_at: Mon, 15 Dec 2014 07:39:09 GMT
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("10000");
  recorded_at: Mon, 15 Dec 2014 19:34:55 GMT
recorded_with: VCR 2.9.3
