---
http_interactions:
- request:
    method: get
    uri: http://vk.com/share.php?url=http%3A%2F%2Fwww.google.com&act=count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=windows-1251
    body:
      encoding: UTF-8
      string: VK.Share.count(0, 3725);
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&callback=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '420796907025'
    body:
      encoding: UTF-8
      string: _({"url":"http://www.google.com","count":75108})
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      facebook-api-version:
      - v1.0
      etag:
      - '"b763721b57603f6520b06f4622e3f2ba5c6a722e"'
      content-type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://www.google.com",
           "shares": 10012603,
           "comments": 934
        }
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Mon, 15 Dec 2014 20:52:34 GMT
      x-connection-hash:
      - 5839fc5d0eaaf756cee243cb1995c5c1
      x-response-time:
      - '3'
    body:
      encoding: UTF-8
      string: '{"count":21936956,"url":"http:\/\/www.google.com\/"}'
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("10000");
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=www.google.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - YZcC9v0msBOg4JUkeisAAA==
    body:
      encoding: UTF-8
      string: '{"count":1023,"fCnt":"1,023","fCntPlusOne":"1,024","url":"www.google.com"}'
  recorded_at: Mon, 15 Dec 2014 20:52:34 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"result":{"url":"http:\/\/www.google.com\/","in_index":true,"publicid":"2pI1xR","views":255079,"title":"Google","thumbnail":"http:\/\/cdn.stumble-upon.com\/mthumb\/31\/10031.jpg","thumbnail_b":"http:\/\/cdn.stumble-upon.com\/bthumb\/31\/10031.jpg","submit_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","badge_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","info_link":"http:\/\/www.stumbleupon.com\/url\/www.google.com\/"},"timestamp":1418676754,"success":true}'
  recorded_at: Mon, 15 Dec 2014 20:52:35 GMT
recorded_with: VCR 2.9.3
