---
http_interactions:
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=www.google.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - jzYJTzbXrxMwY7vjNCsAAA==
    body:
      encoding: UTF-8
      string: '{"count":1003,"fCnt":"1,003","fCntPlusOne":"1,004","url":"www.google.com"}'
  recorded_at: Sun, 14 Dec 2014 20:30:36 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"result":{"url":"http:\/\/www.google.com\/","in_index":true,"publicid":"2pI1xR","views":255078,"title":"Google","thumbnail":"http:\/\/cdn.stumble-upon.com\/mthumb\/31\/10031.jpg","thumbnail_b":"http:\/\/cdn.stumble-upon.com\/bthumb\/31\/10031.jpg","submit_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","badge_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","info_link":"http:\/\/www.stumbleupon.com\/url\/www.google.com\/"},"timestamp":1418589036,"success":true}'
  recorded_at: Sun, 14 Dec 2014 20:30:36 GMT
recorded_with: VCR 2.9.3
