--- 
http_interactions: 
- request: 
    method: get
    uri: http://data.alexa.com/data?cli=10&dat=snbamz&url=google.com
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        \r\n\
        <ALEXA VER=\"0.9\" URL=\"google.com/\" HOME=\"0\" AID=\"=\">\r\n\
        <RLS PREFIX=\"http://\" more=\"56\">\n\
        <RL HREF=\"amazon.com/\" TITLE=\"Amazon.com\"/>\n\
        <RL HREF=\"wikipedia.org/\" TITLE=\"Wikipedia\"/>\n\
        <RL HREF=\"www.yahoo.com/\" TITLE=\"Yahoo!\"/>\n\
        <RL HREF=\"youtube.com/\" TITLE=\"YouTube\"/>\n\
        <RL HREF=\"yelp.com/\" TITLE=\"Yelp\"/>\n\
        <RL HREF=\"statcounter.com/\" TITLE=\"StatCounter.com\"/>\n\
        <RL HREF=\"myspace.com/\" TITLE=\"Myspace\"/>\n\
        <RL HREF=\"linkedin.com/\" TITLE=\"LinkedIn\"/>\n\
        <RL HREF=\"imdb.com/\" TITLE=\"The Internet Movie Database (imdb)\"/>\n\
        <RL HREF=\"google.co.in/\" TITLE=\"Google India\"/>\n\
        <RL HREF=\"ask.com/\" TITLE=\"ask.com/\"/>\n\
        </RLS>\n\
        <SD TITLE=\"A\" FLAGS=\"DMOZ\" HOST=\"google.com\">\n\
        <TITLE TEXT=\"Google                             \"/>\n\
        <ADDR STREET=\"\" CITY=\"\" STATE=\"\" ZIP=\"\" COUNTRY=\"\" />\n\
        <CREATED DATE=\"15-Sep-1997\" DAY=\"15\" MONTH=\"09\" YEAR=\"1997\"/>\n\
        <PHONE NUMBER=\"unlisted\"/>\n\
        <OWNER NAME=\"unlisted\"/>\n\
        <EMAIL ADDR=\"dns-admin@google.com\"/>\n\
        <ALEXAPRO TIER=\"advanced\"/>\n\
        <LANG LEX=\"en\"/>\n\
        <LINKSIN NUM=\"5045207\"/>\n\
        <SPEED TEXT=\"1276\" PCT=\"58\"/>\n\
        <REVIEWS AVG=\"4.0\" NUM=\"1400\"/>\n\
        <CHILD SRATING=\"0\"/>\n\
        <ASSOCS>\n\
        <ASSOC ID=\"googlecom\"/></ASSOCS>\n\
        </SD>\n\n\
        <KEYWORDS>\n\
        <KEYWORD VAL=\"Mountain View\"/>\n\
        </KEYWORDS><DMOZ>\n\
        <SITE BASE=\"google.com/\" TITLE=\"Google\" DESC=\"Enables users to search the world's information, including webpages, images, and videos. Offers unique features and search technology.\">\n\
        <CATS>\n\
        <CAT ID=\"Top/Computers/Internet/Searching/Search_Engines/Google\" TITLE=\"Search Engines/Google\" CID=\"374822\"/>\n\
        <CAT ID=\"Top/Regional/North_America/United_States/California/Localities/M/Mountain_View/Business_and_Economy/Industrial/Computers_and_Internet\" TITLE=\"Industrial/Computers and Internet\" CID=\"625367\"/>\n\
        <CAT ID=\"Top/World/Fran\xC3\xA7ais/Informatique/Internet/Recherche/Moteurs_de_recherche/Google\" TITLE=\"Moteurs de recherche/Google\" CID=\"247347\"/>\n\
    [...]
[...]
- request: 
    method: get
    uri: http://toolbarqueries.google.com/tbr?features=Rank&q=info%3Awww.google.com&client=navclient-auto&ch=6340563836
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/html; charset=ISO-8859-1
    body: 
      string: |
        Rank_1:1:9

  recorded_at: Mon, 17 Dec 2012 17:03:44 GMT
recorded_with: VCR 2.3.0
