---
http_interactions:
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&regex=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '719785536047'
    body:
      encoding: UTF-8
      string: receiveCount({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 21:35:19 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?url=www.google.com&callback=_&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - PROD-IDB2
      x-li-uuid:
      - oWvbq77arxNAvwkANSsAAA==
    body:
      encoding: UTF-8
      string: '{"count":1004,"fCnt":"1,004","fCntPlusOne":"1,005","url":"www.google.com"}'
  recorded_at: Sun, 14 Dec 2014 21:35:20 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: '{"result":{"url":"http:\/\/www.google.com\/","in_index":true,"publicid":"2pI1xR","views":255078,"title":"Google","thumbnail":"http:\/\/cdn.stumble-upon.com\/mthumb\/31\/10031.jpg","thumbnail_b":"http:\/\/cdn.stumble-upon.com\/bthumb\/31\/10031.jpg","submit_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","badge_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","info_link":"http:\/\/www.stumbleupon.com\/url\/www.google.com\/"},"timestamp":1418592920,"success":true}'
  recorded_at: Sun, 14 Dec 2014 21:35:20 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '513151227267'
    body:
      encoding: UTF-8
      string: receiveCount({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 21:35:35 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&callback=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '295300042660'
    body:
      encoding: UTF-8
      string: json({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 22:08:57 GMT
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?url=http%3A%2F%2Fwww.google.com&callback=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/javascript
      x-pinterest-rid:
      - '159754960482'
    body:
      encoding: UTF-8
      string: _({"url":"http://www.google.com","count":75108})
  recorded_at: Sun, 14 Dec 2014 22:12:04 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 14 Dec 2014 22:33:48 GMT
      x-connection-hash:
      - 93d07126dedfeb56aeadead08d3e2146
      x-response-time:
      - '4'
    body:
      encoding: UTF-8
      string: '{"count":21933764,"url":"http:\/\/www.google.com\/"}'
  recorded_at: Sun, 14 Dec 2014 22:33:48 GMT
recorded_with: VCR 2.9.3
