---
http_interactions:
- request:
    method: get
    uri: http://api.pinterest.com/v1/urls/count.json?callback=_&url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
      X-Pinterest-Rid:
      - '338406475226'
    body:
      encoding: UTF-8
      string: _({"url":"http://www.google.com","count":75108})
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: http://urls.api.twitter.com/1/urls/count.json?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 14 Sep 2015 23:36:47 GMT
      X-Connection-Hash:
      - cb66cffe7fa43dbf90b1192189d730bf
      X-Response-Time:
      - '6'
    body:
      encoding: UTF-8
      string: '{"count":24665189,"url":"http:\/\/www.google.com\/"}'
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: http://graph.facebook.com/?id=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - '"f1ced55c7e36bb2189fe954b2c02cc026239b54c"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: |-
        {
           "id": "http://www.google.com",
           "shares": 13236803,
           "comments": 1028
        }
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: http://www.stumbleupon.com/services/1.01/badge.getinfo?url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: '{"result":{"url":"http:\/\/www.google.com\/","in_index":true,"publicid":"2pI1xR","views":255199,"title":"Google","thumbnail":"http:\/\/cdn.stumble-upon.com\/mthumb\/31\/10031.jpg","thumbnail_b":"http:\/\/cdn.stumble-upon.com\/bthumb\/31\/10031.jpg","submit_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","badge_link":"http:\/\/www.stumbleupon.com\/badge\/?url=http:\/\/www.google.com\/","info_link":"http:\/\/www.stumbleupon.com\/url\/www.google.com\/"},"timestamp":1442273807,"success":true}'
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?callback=_&format=json&url=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-lva1
      X-Li-Uuid:
      - f9Ls8GL8AxQAGPeq0CoAAA==
    body:
      encoding: UTF-8
      string: '{"count":2712,"fCnt":"2,712","fCntPlusOne":"2,713","url":"www.google.com"}'
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: http://vk.com/share.php?act=count&url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=windows-1251
    body:
      encoding: UTF-8
      string: VK.Share.count(0, 4352);
  recorded_at: Mon, 14 Sep 2015 23:36:47 GMT
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("10000");
  recorded_at: Mon, 14 Sep 2015 23:36:48 GMT
[...]
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: services.gplus.cb("10000");
  recorded_at: Mon, 14 Sep 2015 23:36:49 GMT
recorded_with: VCR 2.9.3
